/*
011936-maastricht blue
18314f-space cadet
00679b-sea blue
406e8e-queen blue
e8f1f2-anti-flash white
*/
  body {
      font-size: 1em;
      font-weight: normal;
      font-family: ariel, sans-serif;
      color: #000;
      background-color: #00679B;
      text-align:left;
      max-width: 80%;
      margin: 0 auto;

  }

  h1{
  font-size: 1.8em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #406E8E;
  width: auto;
  height: auto;
  border: .4em solid #18314F;
  border-radius: 1em;
  padding: 1%;
  box-shadow: 0px 10px 10px;
  }

  h2{
    border-radius: 1em;
    text-align: center;
    border:3px solid #011936;
    text-decoration: none;
    color: #fff;
    background-color: #406E8E;
    width: auto;
    height: auto;
    border: .4em solid #18314F;
    border-radius: 1em;
    padding: 1%;
    box-shadow: 0px 7px 10px;
  }

  ul{
    border:3px solid #011936;
    text-decoration: none;
    color: #fff;
    background-color: #406E8E;
    border: .5em solid #18314F;
    border-radius: 1em;

  }

  a{
    text-decoration: none;
    color: #fff;
    background-color: #406E8E;

  }

  p{
    color: #E8F1F2
  }

.navbar{
  width: 965px;
  height: 167px;
  padding:1em;



}
.navli{
  float: left;
  margin: 20px;
  width: 65px;
